/* el * se refiere a toda la pag web, se usa margin 0 y padding 0 para tener todo correctamente ya que el web browser añade por defecto un valor*/
*{
margin: 0;
padding: 0;
}

html,
body{
  font-size: 16px;
  background-color: rgb(70, 66, 62);
}

.titulo{
  max-width: 600px;
  font-size: 1em;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 2;
  margin: 10px;
  
}
.App{
  min-height: 100%;/*100% de la pantalla de la pag web*/
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor-principal{
  min-height: 100%;/*para hacer responsive siempre en %*/
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}